a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #4407e6;
    background: #eeeeee;
}

body {
    background-color: #f7fbfb;
}

h1, h2 {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

h6 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

img {
    border-radius: 6px;
}

p, hr, ul, table, dl {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

pre {
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: auto;
    padding: 1rem;
}

.pre1000 {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

#profile-img {
    float: left;
    margin-right: 10px;
    margin-top: 1rem;
    width: 100px;
}

@media screen and (prefers-color-scheme: dark) {

    a {
        color: deepskyblue;
    }

    a:hover {
        color: dodgerblue;
        background: none;
    }

    body {
        background-color: rgb(35, 39, 45);
        color: rgb(223, 223, 224);
    }

    code {
        color: hotpink;
    }

}