<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="{{ get_url(path='rss.xml', trailing_slash=false) }}" rel="alternate" type="application/rss+xml" title="RSS">
    <link href="{{ get_url(path='styles.css') }}" rel="stylesheet">
    <title>Swift macOS</title>
</head>
<body>
<div class="container">
    {% block content %}{% endblock content %}
</div>
</body>
</html>