/* Main style
--------------------------------------------------------------------- */

a {
    text-decoration: none;
}

a:hover {
    color: #4407E6;
    background: #EEEEEE;
}

body {
    background-color: #fffff8;
}

h1, h2, h4 {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

h6 {
    margin-top: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

p, hr, ul, .highlight {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

img, video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre code {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

table {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.pre1000 code {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

/* Dark mode style
--------------------------------------------------------------------- */

@media screen and (prefers-color-scheme: dark) {

    a {
        color: deepskyblue;
    }

    a:hover {
        color: dodgerblue;
        background: none;
    }

    body {
        background-color: rgb(35, 39, 45);
        color: rgb(223, 223, 224);
    }

    code {
        color: hotpink;
    }

}