.container {
    max-width: 700px;
}

a:hover {
    color: #4407E6;
    background: #EEEEEE;
    text-decoration: none;
}

body {
    background-color: #fffff8;
}

h1, h2 {
    margin-top: 60px;
}

img {
    max-width: 400px;
}

#notes-list {
    columns: 2 auto;
}

#profile-img {
    margin-top: 10px;
    width: 100px;
}

.large-img {
    max-width: 100%;
}

.center-img {
    margin: 0 auto;
    display: block;
}

@media (max-width: 480px) {

    img {
        max-width: 100%;
    }

}