a {
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    color: #4407e6;
    background: #eeeeee;
}

body {
    background-color: #f7fbfb;
}

h1, h2, h3, h4 {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

h6 {
    color: grey;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

img {
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#inline-img {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

p, hr, ul, table, dl {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

pre code {
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
}

.pre1000 code {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

@media screen and (prefers-color-scheme: dark) {

    a {
        color: deepskyblue;
    }

    a:hover {
        color: dodgerblue;
        background: none;
    }

    body {
        background-color: rgb(35, 39, 45);
        color: rgb(223, 223, 224);
    }

    code {
        color: hotpink;
    }

}