/*--- All screens ---*/

.container {
    max-width: 700px;
}

.large-img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #4407E6;
}

body {
    background-color: #fffff8;
}

#title {
    margin-bottom: 3rem;
    margin-top: 4rem;
}

h1, h2, h4 {
    margin-top: 2rem;
}

img {
    max-width: 400px;
}

.image600 {
    max-width: 600px;
    width: 100%;
}

/* Make code blocks scroll horizontally */
pre code {
    white-space: pre;
    word-wrap: normal;
}

.contents-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

/*--- Mobile screens ---*/

@media only screen and (max-width: 600px) {

    h2 {
        scroll-margin-top: 10rem;
    }

    img {
        max-width: 100%;
    }

}

/*--- Dark mode ---*/

@media screen and (prefers-color-scheme: dark) {

    a {
        color: deepskyblue;
    }

    a:hover {
        color: dodgerblue;
    }

    body {
        background-color: rgb(35, 39, 45);
        color: rgb(223, 223, 224);
    }

    .language-plaintext {
        color: salmon;
    }

}
