/*--- All screens ---*/

.container {
    max-width: 700px;
}

.large-img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #4407E6;
}

body {
    background-color: #fffff8;
}

h1 {
    margin-bottom: 2rem;
    margin-top: 4rem;
}

h4 {
    margin-top: 2rem;
}

img {
    max-width: 400px;
}

.image600 {
    max-width: 600px;
    width: 100%;
}

/* Make code blocks scroll horizontally */
pre code {
    white-space: pre;
    word-wrap: normal;
}

.contents-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

/*--- Mobile screens ---*/

@media only screen and (max-width: 600px) {

    h2 {
        scroll-margin-top: 10rem;
    }

    img {
        max-width: 100%;
    }

}
